body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #4e73df, #1cc88a);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: white;
}

.container {
  text-align: center;
}

.btn {
  display: inline-block;
  margin-top: 25px;
  padding: 15px 30px;
  background: white;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}